<a href="https://colab.research.google.com/github/yoobyoungcheol/pythonstudy24/blob/master/listtype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

table 객채처리  각각의 객채를 모아서 처리하는 용도

*   list 자료형
*   tuple 자료형
*   dictionary 자료형
*   집합 자료형

In [1]:
# list 자료형   []를 이용하여 감싸고 쉼표롤 요소를 구분한다

odd = [1,3,5,7,9]   # 자바의 배열과 유사하나 배열은 초기 행렬 값을 갖는다.(배열의 크기 조정이 불가하다.) -> arraylist

a = []     # 빈리스트        a = list() 로도 생성 가능
b = [1,2,3]      # 정수형 리스트
c = ["Lift","is","good"]    # 문자형 리스트
d = [1,2,"Life","is"]    # 혼합형 리스트
e = [1,2,["Life","is"]]  # 리스트안에 리스트

In [4]:
# 리스트 인덱싱

a = [1,2,3]
print(a[0])     # a리스트의 0번 인덱스를 출력해라

1

In [6]:
print(a[0]+a[2])

4

In [7]:
print(a[-1])         # - 기호는 역순으로 시작한다. ex) -1은 마지막 인덱스의 값

3

In [16]:
a= [1,2,3,['a','b','c']]             # 2차원 배열
a[-1][0]

'a'

In [21]:
# 3차원 배열 -> 사진이나 영상 혹은 게임을 처리한다   (가로*세로 -> 픽셀, 깊이->RGB컬러)

member = [['김기원',['교사',312]],['김지선',['학생',312]],['윤인영',['학생2',311]],['유병철',['학생3',313]]]
member[1][1][1]

[['김기원', ['교사', 312]], ['김지선', ['학생', 312]]]

In [19]:
# List의 슬라이싱
a = [1,2,3,4,5]
a[0:2]

[1, 2]

In [22]:
a[:2]     # 처음부터 2번 인덱스 전까지

[1, 2]

In [23]:
a[2:]    # 2번부터 마지막 인덱스 까지

[3, 4, 5]

In [24]:
a = [1,2,3,['a','b','c'],4,5]
a[2:5]               # 2번째 인덱스 부터 5번째 인덱스 전까지 나오나 그 중간에 배열이 있으면 그 배열을 통째로 가져온다

[3, ['a', 'b', 'c'], 4]

In [26]:
a[3][1:]

['b', 'c']

In [34]:
# List 연산  + , * 를 활용할수 있음   # 단 각 리스트끼리는 *이 불가능하다

a = [1,2,3]
b = [4,5,6]
a+b        # 문자열의 + 계산과 유사하다

[1, 2, 3, 4, 5, 6]

In [35]:
a*3        # 문자열의 + 계산과 유사하다

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [36]:
# list 의;길이 구하기

len(a)          # 위의 *이 적용이안된 이유는 다시 a에 넣어주지 않아서 이다.

3

In [52]:
# list 의 글자 추가하기

a = [1,2,3]           # 타입이 달라서 타입간에 충돌이 일어나서 오류가 일어난다
a[2] + "Hi"
a

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [53]:
str(a[2]) + "Hi"            #  타입캐스팅을 통해 타입을 맞추어 주면 +계산이 가능하다

'3Hi'

In [54]:
a[2] = str(a[2]) + "Hi"           #  계산이 완료된 값을 다시 a[2]번에 넣어준다
a

[1, 2, '3Hi']

In [55]:
a = [1,2,3]        # 같은 타입이면 그냥 바꾸어 주어도 무방하다
a[2] = 4
a

In [58]:
a[2] = 0            # 0은 널이 아님
a

[1, 2, 0]

In [60]:
del a[2]            # del은 리스트의 값을 지워준다
a

[1, 2]

In [62]:
a = [1,2,3,4,5]
del a[2:]              # remove와  pop 함수도 제거용 함수이다.
a

[1, 2]

In [67]:
# 리스트 관련 함수

# .append()    이미 만들어진 리스트에 객체를 추가할떄 활용한다
a = [1,2,3]
a.append(4)               # append 는 1개의 객체를 추가할수도 있고
# a.append([5,6])           # 2차원 배열을 집어 넣을수도 있다
a

[1, 2, 3, 4]

In [65]:
a.append([5,6])           # 2차원 배열을 집어 넣을수도 있다
a

[1, 2, 3, 4, [5, 6]]

In [68]:
a.pop                 # pop는 제일 뒤에 있는 인덱스 객체를 지워준다
a

[1, 2, 3, 4]

In [84]:
# sort() : List를 올림차순으로 정렬해준다

a = [8,6,4,9,5,65,7,32]
a.sort()
a

[4, 5, 6, 7, 8, 9, 32, 65]

In [85]:
a.reverse()             # List를 내림차순 정렬해준다
a

[65, 32, 9, 8, 7, 6, 5, 4]

In [92]:
a= ['b','f','a','o',"c"]
a.sort()
a

['a', 'b', 'c', 'f', 'o']

In [93]:
a = ["김기원","김지선","윤인영","유병철"]
a.sort()
a

['김기원', '김지선', '유병철', '윤인영']

In [91]:
a = [6,"김기원","ai",'e']
a.sort()                                       # 타입이 안맞으면 오류가 난다
a

TypeError: '<' not supported between instances of 'str' and 'int'

In [95]:
# 인덱스 반환 index(2)    괄호 안에있는 값의 해당하는 인덱스를 반환해준다

a = [1,3,2]
a.index(2)

2

In [97]:
# 리스트의 앞에 샆입 insert (원하는 인덱스 자리 , 값)
a = [1,2,3]
a.insert(0,4)         #  0번지의 4값을 추가하고 기존값은 인덱스가 밀린다
a

[4, 1, 2, 3]

In [99]:
a.insert(3,5)            # 인덱스 3값에 5를 추가하고 기존값은 인덱스가 밀린다
a

[4, 1, 2, 5, 5, 3]

In [ ]:
a.remove(3)       # remove(3) 의 값이 제거 된다
a

In [104]:
b = [3,2,1,3,2,4,3,5,1]
b.remove(3)             #  3의 값이 지워지대 앞에 있는 요소를 제거한다
b

[2, 1, 3, 2, 4, 3, 5, 1]

In [105]:
b.remove(3)
b

[2, 1, 2, 4, 3, 5, 1]

In [114]:
# list 요소 끄집어내기  .pop(인덱스)    기존적으로 공백으로 두면 마지막 요소를 제거한다

c = [1,2,3,4,5,6]
c.pop()
c

[1, 2, 3, 4, 5]

In [115]:
c.pop(4)

5

In [116]:
c

[1, 2, 3, 4]

In [117]:
c.count(2)

1

In [118]:
d = [3,2,1,3,2,3,3,3,4,5,2,3,4,5,2,3,4,5,2]      #   count(값) 을 입력하면 리스트에 존재 하는 같은 값의 수를 반환해준다
d.count(3)

7

In [119]:
len(d)

19

In [121]:
# 리스트 확장 extend(x)    리스트만 올수 있으며 x[x] + x[x]

e = [1,2,3]
e.extend([4,5])    # 리쇼ㅡ트 추가
e

[1, 2, 3, 4, 5]

In [122]:
f = [6,7,8]
e.extend(f)
e

[1, 2, 3, 4, 5, 6, 7, 8]

sort 함수 제작

In [111]:
a = [8,6,4,9,5,65,7,32]
i=0
c=0
temp = []
for c in range(len(a)):
  for i in range(len(a)):
    if i<len(a)-1:
      if a[i]>a[i+1]:
        temp.append(a[i])
        a[i] = a[i+1]
        a[i+1] = temp[i]
      else:
        temp.append(a[i])
  i = 0
a

[4, 5, 7, 8, 9, 9, 32, 65]

In [ ]:
for i=o, i<100: i++: